bin
/qdf.AcceptanceTests/Alpari.QualityAssurance.SpecFlowExtensions/obj
obj

qdf.AcceptanceTests/Microsoft.VisualStudio.DebuggerVisualizers.pdb/9378A71A53134CEA8E24038EACD02FC51/Microsoft.VisualStudio.DebuggerVisualizers.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.Diagnostics.ServiceModelSink.pdb/135B4F1ED9434051B23D2D7D48BB75E41/Microsoft.VisualStudio.Diagnostics.ServiceModelSink.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.QualityTools.Common.pdb/38C3C9D929AF4B38A93829915CB37D981/Microsoft.VisualStudio.QualityTools.Common.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Core.pdb/31BFE6D981B345589FB3F4DFFD07702A1/Microsoft.VisualStudio.TestPlatform.Core.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.GenericTestAdapter.pdb/2CA2C07F56A74DDE855C52CA282321981/Microsoft.VisualStudio.TestPlatform.Extensions.GenericTestAdapter.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.MSAppContainerAdapter.pdb/8AF54C304BAF4782AFA1009165C7DBF31/Microsoft.VisualStudio.TestPlatform.Extensions.MSAppContainerAdapter.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.OrderedTestAdapter.pdb/AAF4A69E25024636BBE92ADD9302A8F71/Microsoft.VisualStudio.TestPlatform.Extensions.OrderedTestAdapter.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.pdb/9DA9F2A5C735464994CF295890D1E3501/Microsoft.VisualStudio.TestPlatform.Extensions.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.TfsLogger.pdb/2D53ACD2C055456B80A2FE03CCC49EED1/Microsoft.VisualStudio.TestPlatform.Extensions.TfsLogger.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.TmiAdapter.pdb/15771077405A46C3BFA2B249A9DDD04C1/Microsoft.VisualStudio.TestPlatform.Extensions.TmiAdapter.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.TrxLogger.pdb/5EA8B1F8CEBF4D6DA5402FEB826012F21/Microsoft.VisualStudio.TestPlatform.Extensions.TrxLogger.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.VSTestIntegration.pdb/A36F45C282B3409E9D2381754FBE7D5C1/Microsoft.VisualStudio.TestPlatform.Extensions.VSTestIntegration.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.ObjectModel.pdb/2D0395CB1F21438D85D4CACBB9FCEE6B1/Microsoft.VisualStudio.TestPlatform.ObjectModel.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.TestExecutor.Core.pdb/D6F14FE0021A4E93A2C8C169E5EF5CEC1/Microsoft.VisualStudio.TestPlatform.TestExecutor.Core.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.UnitTestFramework.pdb/4BD0454F5DEC4FD3B5A827915EFBDF5D1/Microsoft.VisualStudio.TestPlatform.UnitTestFramework.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Utilities.pdb/41992E2BA52A4505BFCEC93E9511A9F81/Microsoft.VisualStudio.TestPlatform.Utilities.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.ComInterfaces.pdb/52568FCD042241139966F984A1D67BF81/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.ComInterfaces.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.CppUnitTestExtension.pdb/060DF02806BB4E89B34D20595AC5680A1/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.CppUnitTestExtension.pdb
qdf.AcceptanceTests/msdia110typelib_clr0200.pdb/AE2D2191D3224EA394FF23E8FE0D8DD11/msdia110typelib_clr0200.pdb
qdf.AcceptanceTests/vstest.executionengine.x86.pdb/BB860D8A4494443C9A6E26024ADA3A451/vstest.executionengine.x86.pdb
/qdf.AcceptanceTests/lib/DbLinq-0.20.1
qdf.AcceptanceTests/qdf.AcceptanceTests.v11.suo
qdf.AcceptanceTests/qdf.AcceptanceTests/qdf.AcceptanceTests.csproj.user
qdf.AcceptanceTests/TestResults/qdf.AcceptanceTests.TE.Tests.mdf
qdf.AcceptanceTests/TestResults/qdf.AcceptanceTests.TE.Tests_log.ldf
~$CumulativeSumTest.xlsx
*.user
/qdf.AcceptanceTests/*.user
Microsoft.VisualStudio.DebuggerVisualizers.pdb
Microsoft.VisualStudio.Diagnostics.ServiceModelSink.pdb
Microsoft.VisualStudio.QualityTools.Common.pdb
Microsoft.VisualStudio.TestPlatform.Core.pdb
download.error
Microsoft.VisualStudio.TestPlatform.Extensions.TfsLogger.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.TmiAdapter.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.TrxLogger.pdb
Microsoft.VisualStudio.TestPlatform.Extensions.pdb
Microsoft.VisualStudio.TestPlatform.ObjectModel.pdb
Microsoft.VisualStudio.TestPlatform.TestExecutor.Core.pdb
Microsoft.VisualStudio.TestPlatform.UnitTestFramework.pdb
Microsoft.VisualStudio.TestPlatform.Utilities.pdb
/qdf.AcceptanceTests/Alpari.QualityAssurance.RefData.Tests/msdia110typelib_clr0200.pdb/AE2D2191D3224EA394FF23E8FE0D8DD11/msdia110typelib_clr0200.pdb
/qdf.AcceptanceTests/Alpari.QualityAssurance.RefData.Tests/vstest.executionengine.x86.pdb/BB860D8A4494443C9A6E26024ADA3A451/vstest.executionengine.x86.pdb
/qdf.AcceptanceTests/packages/System.IO.Abstractions.1.4.0.84
/qdf.AcceptanceTests/packages/Alpari.QDF.0.1.30.0
/qdf.AcceptanceTests/packages/Alpari.QDF.Domain.0.1.30.0
/qdf.AcceptanceTests/packages/Autofac.2.6.3.862
/qdf.AcceptanceTests/packages/BookSleeve.1.3.41
/qdf.AcceptanceTests/packages/C5.2.2.5073.27396
/qdf.AcceptanceTests/packages/FluentAssertions.2.2.0.0
/qdf.AcceptanceTests/packages/FluentAssertions.3.0.107
/qdf.AcceptanceTests/packages/Microsoft.Tpl.Dataflow.4.5.14
/qdf.AcceptanceTests/packages/MsgPack.Cli.0.4.4
/qdf.AcceptanceTests/packages/Newtonsoft.Json.6.0.2
/qdf.AcceptanceTests/packages/NUnit.2.6.3
/qdf.AcceptanceTests/packages/Pickles.0.13.1.0
/qdf.AcceptanceTests/packages/Pickles.MSBuild.0.15.0
/qdf.AcceptanceTests/packages/protobuf-net.2.0.0.668
/qdf.AcceptanceTests/packages/SpecFlow.1.9.0
/qdf.AcceptanceTests/packages/System.IO.Abstractions.1.4.0.84
/qdf.AcceptanceTests/packages/Alpari.QDF.0.1.30.0
/qdf.AcceptanceTests/packages/BookSleeve.1.3.41
/qdf.AcceptanceTests/packages/FluentAssertions.3.0.107
/qdf.AcceptanceTests/packages/Pickles.0.13.1.0
SpecFlow.NUnit.1.1.1
NUnit.Runners.2.6.3
qdf.AcceptanceTests/Microsoft.VisualBasic.pdb
qdf.AcceptanceTests/System.Configuration.pdb
qdf.AcceptanceTests/System.Core.pdb
qdf.AcceptanceTests/System.Data.pdb
qdf.AcceptanceTests/System.pdb
qdf.AcceptanceTests/System.Xml.pdb
qdf.AcceptanceTests/UpgradeLog.htm
qdf.AcceptanceTests/System.EnterpriseServices.pdb
qdf.AcceptanceTests/System.Security.pdb
qdf.AcceptanceTests/System.Transactions.pdb
qdf.AcceptanceTests/System.ComponentModel.DataAnnotations.pdb
qdf.AcceptanceTests/System.Runtime.Serialization.pdb
qdf.AcceptanceTests/System.Xml.Linq.pdb
qdf.AcceptanceTests/packages/Alpari.*
qdf.AcceptanceTests/packages/Autofac.*
qdf.AcceptanceTests/packages/Microsoft.*
qdf.AcceptanceTests/packages/Newtonsoft.*
qdf.AcceptanceTests/packages/Pickles.*
qdf.AcceptanceTests/packages/System.*
System.Data.Linq.pdb
*.zip
qdf.AcceptanceTests/Alpari.QualityAssurance.RefData/Microsoft.VisualBasic.pdb
qdf.AcceptanceTests/Alpari.QualityAssurance.RefData/System.Configuration.pdb
qdf.AcceptanceTests/Alpari.QualityAssurance.RefData/System.Core.pdb
qdf.AcceptanceTests/Alpari.QualityAssurance.RefData/System.Data.pdb
qdf.AcceptanceTests/Alpari.QualityAssurance.RefData/System.pdb
qdf.AcceptanceTests/Alpari.QualityAssurance.RefData/System.Xml.pdb/42CE759E73FA45089CA14A3CECBBEF451/System.Xml.pdb
qdf.AcceptanceTests/packages/WebGrease*
qdf.AcceptanceTests/packages/AspNet.*
qdf.AcceptanceTests/packages/DotNetOpenAuth*
qdf.AcceptanceTests/packages/EntityFramework*
qdf.AcceptanceTests/packages/jQuery*
qdf.AcceptanceTests/packages/Modernizr*
qdf.AcceptanceTests/Alpari.QDF.UIClient.Tests/System.Configuration.pdb*
qdf.AcceptanceTests/Alpari.QDF.UIClient.Tests/System.Core.pdb*
qdf.AcceptanceTests/Alpari.QDF.UIClient.Tests/System.pdb*
qdf.AcceptanceTests/Alpari.QDF.UIClient.Tests/System.Xml.pdb*
qdf.AcceptanceTests/Alpari.QDF.UIClient.Tests/System.ComponentModel.DataAnnotations.pdb*
qdf.AcceptanceTests/Alpari.QDF.UIClient.Tests/System.Data.pdb*
qdf.AcceptanceTests/Alpari.QDF.UIClient.Tests/System.Runtime.Serialization.pdb*
qdf.AcceptanceTests/Alpari.QDF.UIClient.Tests/System.Xml.Linq.pdb*
System.Configuration.pdb/*
System.Core.pdb/*
System.pdb/*
System.Xml.pdb/*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/packages/Alpari*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/packages/BookSleeve*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/packages/C5*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/packages/FluentAssertions*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/packages/MsgPack*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/packages/Newtonsoft*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/packages/NUnit*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/packages/protobuf-net*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/packages/SpecFlow*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests.v11.suo
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests.v11.suo
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/packages/Microsoft.*
qdf.AcceptanceTests/packages/C5.*
*.v11.suo
*.suo
*.suo
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests.v11.suo
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/packages/Pickles*
qdf.AcceptanceTests/Alpari.QDF.UIClient.Gui/System.Configuration.pdb/*
qdf.AcceptanceTests/Alpari.QDF.UIClient.Gui/System.Core.pdb/*
qdf.AcceptanceTests/Alpari.QDF.UIClient.Gui/System.pdb/*
qdf.AcceptanceTests/Alpari.QDF.UIClient.Gui/System.Xml.pdb/*
qdf.AcceptanceTests/packages/Redis-64*
RedisOnWindows.SineWave/Listener/.idea/workspace.xml
Redis-64.2.8.9
RedisOnWindows.SineWave/packages/Alpari.*
RedisOnWindows.SineWave/packages/BookSleeve*
RedisOnWindows.SineWave/packages/C5*
RedisOnWindows.SineWave/packages/FluentAssertions*
RedisOnWindows.SineWave/packages/Microsoft*
RedisOnWindows.SineWave/packages/MsgPack*
RedisOnWindows.SineWave/packages/Newtonsoft*
RedisOnWindows.SineWave/packages/NUnit*
RedisOnWindows.SineWave/packages/protobuf*
RedisOnWindows.SineWave/packages/SpecFlow*
*RedisQFork_*.dat
stdout
*dump.rdb
dump.rdb
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests/Microsoft.VisualBasic.pdb/*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests/System.Configuration.pdb/*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests/System.Core.pdb/*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests/System.Data.pdb/*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests/System.pdb/*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests/System.Security.pdb/*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests/System.Transactions.pdb/*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests/System.Xml.pdb/*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests/System.ComponentModel.DataAnnotations.pdb/*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests/System.Runtime.Serialization.pdb/*
qdf.AcceptanceTests/Alpari.QualityAssurance.Cnx2Redis.Tests/Alpari.QualityAssurance.Cnx2Redis.Tests/System.Xml.Linq.pdb/*
qdf.AcceptanceTests/packages/NUnit*
qdf.AcceptanceTests/packages/IKVM*
qdf.AcceptanceTests/packages/NHtmlUnit*
logs
config
~$*.xls*
qdf.AcceptanceTests/packages/FluentAssertions.*
qdf.AcceptanceTests/packages/LinqToExcel.*
qdf.AcceptanceTests/packages/log4net.*
qdf.acceptancetests/packages/MySql.*
qdf.acceptancetests/packages/MsgPack.*
qdf.acceptancetests/packages/Selenium.*
