bin
/qdf.AcceptanceTests/Alpari.QualityAssurance.SpecFlowExtensions/obj
obj

qdf.AcceptanceTests/Microsoft.VisualStudio.DebuggerVisualizers.pdb/9378A71A53134CEA8E24038EACD02FC51/Microsoft.VisualStudio.DebuggerVisualizers.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.Diagnostics.ServiceModelSink.pdb/135B4F1ED9434051B23D2D7D48BB75E41/Microsoft.VisualStudio.Diagnostics.ServiceModelSink.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.QualityTools.Common.pdb/38C3C9D929AF4B38A93829915CB37D981/Microsoft.VisualStudio.QualityTools.Common.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Core.pdb/31BFE6D981B345589FB3F4DFFD07702A1/Microsoft.VisualStudio.TestPlatform.Core.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.GenericTestAdapter.pdb/2CA2C07F56A74DDE855C52CA282321981/Microsoft.VisualStudio.TestPlatform.Extensions.GenericTestAdapter.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.MSAppContainerAdapter.pdb/8AF54C304BAF4782AFA1009165C7DBF31/Microsoft.VisualStudio.TestPlatform.Extensions.MSAppContainerAdapter.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.OrderedTestAdapter.pdb/AAF4A69E25024636BBE92ADD9302A8F71/Microsoft.VisualStudio.TestPlatform.Extensions.OrderedTestAdapter.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.pdb/9DA9F2A5C735464994CF295890D1E3501/Microsoft.VisualStudio.TestPlatform.Extensions.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.TfsLogger.pdb/2D53ACD2C055456B80A2FE03CCC49EED1/Microsoft.VisualStudio.TestPlatform.Extensions.TfsLogger.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.TmiAdapter.pdb/15771077405A46C3BFA2B249A9DDD04C1/Microsoft.VisualStudio.TestPlatform.Extensions.TmiAdapter.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.TrxLogger.pdb/5EA8B1F8CEBF4D6DA5402FEB826012F21/Microsoft.VisualStudio.TestPlatform.Extensions.TrxLogger.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Extensions.VSTestIntegration.pdb/A36F45C282B3409E9D2381754FBE7D5C1/Microsoft.VisualStudio.TestPlatform.Extensions.VSTestIntegration.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.ObjectModel.pdb/2D0395CB1F21438D85D4CACBB9FCEE6B1/Microsoft.VisualStudio.TestPlatform.ObjectModel.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.TestExecutor.Core.pdb/D6F14FE0021A4E93A2C8C169E5EF5CEC1/Microsoft.VisualStudio.TestPlatform.TestExecutor.Core.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.UnitTestFramework.pdb/4BD0454F5DEC4FD3B5A827915EFBDF5D1/Microsoft.VisualStudio.TestPlatform.UnitTestFramework.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestPlatform.Utilities.pdb/41992E2BA52A4505BFCEC93E9511A9F81/Microsoft.VisualStudio.TestPlatform.Utilities.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.ComInterfaces.pdb/52568FCD042241139966F984A1D67BF81/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.ComInterfaces.pdb
qdf.AcceptanceTests/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.CppUnitTestExtension.pdb/060DF02806BB4E89B34D20595AC5680A1/Microsoft.VisualStudio.TestTools.CppUnitTestFramework.CppUnitTestExtension.pdb
qdf.AcceptanceTests/msdia110typelib_clr0200.pdb/AE2D2191D3224EA394FF23E8FE0D8DD11/msdia110typelib_clr0200.pdb
qdf.AcceptanceTests/vstest.executionengine.x86.pdb/BB860D8A4494443C9A6E26024ADA3A451/vstest.executionengine.x86.pdb
/qdf.AcceptanceTests/lib/DbLinq-0.20.1
qdf.AcceptanceTests/qdf.AcceptanceTests.v11.suo
qdf.AcceptanceTests/qdf.AcceptanceTests/qdf.AcceptanceTests.csproj.user
qdf.AcceptanceTests/TestResults/qdf.AcceptanceTests.TE.Tests.mdf
qdf.AcceptanceTests/TestResults/qdf.AcceptanceTests.TE.Tests_log.ldf
