<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="Behaviour" type="System.Configuration.AppSettingsSection" />
    <section name="Controls" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <Behaviour>
    <add key="listSeperator" value="," />
  </Behaviour>
  <Controls>
    <add key="symbolList" value="ControlHelpers\symbolList.csv" />
    <add key="defaultDataType" value="deals" />
  </Controls>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C5" publicKeyToken="282361b99ded7e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.5280.26713" newVersion="2.3.5280.26713" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>