<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="Behaviour" type="System.Configuration.AppSettingsSection" />
    <section name="Controls" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <Behaviour>
    <add key="listSeperator" value="," />
  </Behaviour>
  <Controls>
    <add key="symbolList" value="ControlHelpers\symbolList.csv" />
    <add key="defaultDataType" value="Deal" />
  </Controls>
</configuration>