<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Alpari.QA.QDF.Test.Domain.Properties.Settings.QDFConnectionString" connectionString="Data Source=UK-QSAMODEL-DEV;Initial Catalog=QDF;Persist Security Info=True;User ID=autohedge;Password=Alpari@123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
