<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
    <language feature="en-GB" />
  </specFlow>
  <appSettings>
    <add key="redisHost" value="10.10.144.156" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C5" publicKeyToken="282361b99ded7e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5073.27396" newVersion="2.2.5073.27396" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>